<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Movie</title>
</head>
<body>
<form action="/add-movie" method="post">
  <fieldset>
    <legend>New Movie</legend>
    <p>
      <label for="title">Title</label><br/>
      <input type="text" name="title" id="title" />
    </p>
    <p>
      <label for="maturity-rating">Maturity Rating</label><br/>
      <select name="maturity-rating" id="maturity-rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="NC-17">NC-17</option>
      </select>
    </p>
    <p>
      <label for="genre">Genre</label><br/>
      <input type="text" name="genre" id="genre" />
    </p>
    <input type="submit" value="Add" />
  </fieldset>
</form>
<p><a href="/">Home</a></p>
<p><a href="/vote-for-best-movie-form">Vote for your favorite movie</a></p>
<p><a href="/best-movie">Find the best movie</a></p>
</body>
</html>