<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Maturity Rating</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tr th:each="movie: ${movieList}">
        <td th:text="${movie.title}" />
        <td th:text="${movie.maturityRating}" />
        <td th:text="${movie.genre}" />
    </tr>
</table>
<p><a href="/">Home</a></p>
<p><a href="/add-movie-form">Add a movie</a></p>
<p><a href="/vote-for-best-movie-form">Vote for the best movie</a></p>
<p><a href="/best-movie">Find the best movie</a></p>
</body>
</html>